
/* Style texte */
h2{
    font-size: 30px;
    color: black;
}
h3 {
    margin: 0 auto;
}
p {
    color: rgb(84,84,84);
    padding: 10%;
    line-height: 180%;
    letter-spacing: 200%;
}
/* Structure */
body {
    background-color: rgb(249,249,249);
    color: rgb(27,29,38);
    font-family: 'Roboto', sans-serif;
    width: auto;
    height: auto;
}
.main-section {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    height: auto
}
div.logo {
    margin-top: 2%;
    margin-bottom: 5%;
}
div.first-titles-container { 
    padding: 50px;
    width: 30%;
}
.secondary-title-container {
    display: flex;
    justify-content: flex-end;
}
div.title {
    border-left: 5px solid rgb(46,64,136);
    margin: 1%;
    padding-left: 1%;
    letter-spacing: 3px;
    font-family: 'PT Sans Caption', sans-serif;
}
.text-container-first {
    display: flex;
    justify-content: flex-start;
}
.text-container-second {
    display: flex;
    justify-content: flex-end;

}
div.text{
    -webkit-box-shadow: 14px 27px 31px -17px rgba(122,117,122,0.6);
    -moz-box-shadow: 14px 27px 31px -17px rgba(122,117,122,0.6);
    box-shadow: 14px 27px 31px -17px rgba(122,117,122,0.6);
    margin: 5%;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    
}
/* Images */
img.logo {
    width: 10%;
    margin-left: 10%;
}
button {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
    border:1px solid #ccc;
    margin-left: 30%;
    margin-bottom: 20%;
}